<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="header-main">
      <div class="header-top">
        <img src="./images/logo-mercado-liebre.svg" />
        <input type="search" />
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
      </div>
      <div class="header-menu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="header-button">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="#">Creá tu cuenta<i class="far fa-address-card"></i></a>
          </li>
          <li>
            <a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
          </li>
            
        </ul>
      </div>
    </header>
    <main>
      <section>
        <h2>Sección: Basado en tu última visita</h2>
        <article class="productos">
          <img src="./images/cafetera.jpg" />
          <div class="infoArt">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
          </div>
        </article>
        <article class="productos">
          <img src="./images/mac.jpg" />
          <div class="infoArt">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>
          </div>
        </article>
        <article class="productos">
          <img src="./images/telsamsung.jpg" />
          <div class="infoArt">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
          </div>
        </article>
        <article class="productos">
          <img src="./images/tele.jpg" />
          <div class="infoArt">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>

      <section>
        <h2>Sección de Ofertas</h2>
        <article class="productos">
          <img src="./images/cafetera.jpg" />
          <div class="infoArt">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
          </div>
        </article>
        <article class="productos">
          <img src="./images/mac.jpg" />
          <div class="infoArt">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>
          </div>
        </article>
        <article class="productos">
          <img src="./images/telsamsung.jpg" />
          <div class="infoArt">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
          </div>
        </article>
        <article class="productos">
          <img src="./images/tele.jpg" />
          <div class="infoArt">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <section class='footet-section'>
        <div>
          <i class="far fa-credit-card"></i>
        </div>
        <p>
          Pagá con tarjeta o en efectivo Con Mercado Liebre Cash, tenés cuotas
          sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
          seguro!
        </p>
      </section>

      <section class='footet-section'>
        <div>
            <i class="far fa-credit-card"></i>
          </div>
        <p>
          Envío gratis desde $ 2.500 Solo por estar registrad@ en Mercado Liebre
          tenés envíos gratis en miles de productos. Es un beneficio de Mercado
          Puntos.
        </p>
      </section>

      <section class='footet-section'>
        <div>
            <i class="far fa-credit-card"></i>
          </div>
        <p>
          Seguridad, de principio a fin ¿No te gusta? ¡Devolvelo! En Mercado
          Liebre, no hay nada que no puedas hacer, porque estás siempre
          protegid@.
        </p>
      </section>

      <section class='footet-section'>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
